<div class="page">
	<div fxLayout="row" fxLayoutAlign="center top">
		<div fxFlex="95%" fxFlex.xs="100%">
			<mat-card>
				<mat-card-title>{{'WEEK_OF' | translate}} {{ begin | moment: 'MMMM Do YYYY' }}</mat-card-title>
				<mat-card-subtitle *ngIf="schedule != null">{{ 'VERSION' | translate }}: {{schedule.version}}</mat-card-subtitle>
				<mat-progress-bar *ngIf="refreshing || saving" mode="indeterminate"></mat-progress-bar>
				<div *ngIf="exception">
					<div class="exception alert alert-danger" style="margin-top:10px;margin-bottom:10px;">
						{{exception.getMessage() | translate }}
					</div>
					<div class="savingException alert alert-danger" style="margin-top:10px;margin-bottom:10px;">
						{{savingException.getMessage() | translate }}
					</div>

					<div style="margin:20px;text-align:center;">
						<button mat-fab (click)="refresh()">
							<mat-icon class="mat-24">refresh</mat-icon>
						</button>
					</div>
				</div>

			</mat-card>

			
			<div *ngIf="schedule != null" class="days" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="top stretch">

				<app-google-daily-schedule fxFlex dayOfWeek="SUNDAY" [schedule]="schedule.sunday"></app-google-daily-schedule>
				<app-google-daily-schedule fxFlex dayOfWeek="MONDAY" [schedule]="schedule.monday"></app-google-daily-schedule>
				<app-google-daily-schedule fxFlex dayOfWeek="TUESDAY" [schedule]="schedule.tuesday"></app-google-daily-schedule>
				<app-google-daily-schedule fxFlex dayOfWeek="WEDNESDAY" [schedule]="schedule.wednesday"></app-google-daily-schedule>
				<app-google-daily-schedule fxFlex dayOfWeek="THURSDAY" [schedule]="schedule.thursday"></app-google-daily-schedule>
				<app-google-daily-schedule fxFlex dayOfWeek="FRIDAY" [schedule]="schedule.friday"></app-google-daily-schedule>
				<app-google-daily-schedule fxFlex dayOfWeek="SATURDAY" [schedule]="schedule.saturday"></app-google-daily-schedule>

			</div>
		</div>
	</div>
	<div class="app-action">
		<a mat-fab *ngIf="!refreshing && !saving" (click)="save()" class="save" title="{{'SAVE' | translate}}">
			<mat-icon>save</mat-icon>
		</a>
	</div>
</div>