<mat-card>
	<mat-card-title>{{ dayOfWeek | translate }}</mat-card-title>
	<div class="actions">
		<button type="button" mat-raised-button color="primary" title="{{ 'ADD_EVENT' | translate }}"
			(click)="onShowAddEventEditor()">
			<mat-icon>add</mat-icon>
		</button>
	</div>
	<div class="events">
		<mat-list>
			<ng-container *ngFor="let event of schedule.events">
				<mat-list-item>
					<app-google-schedule-event [event]="event"></app-google-schedule-event>
					<mat-divider></mat-divider>
				</mat-list-item>
			</ng-container>
		  </mat-list>
	</div>
</mat-card>