<div class="page">
	<div fxLayout="row" fxLayoutAlign="center top">
		<div fxFlex="75%" fxFlex.xs="100%">
			<mat-card>
				<mat-card-title>{{'SCHEDULES' | translate}}</mat-card-title>
				<mat-list>
					<mat-nav-list>
					  <a mat-list-item *ngFor="let s of schedules" [routerLink]="['week',s.begin.getTime()]">
						<span matLine>{{ 'WEEK_OF' | translate }} {{ s.begin | moment: 'MMMM Do YYYY' }}</span>
						<mat-icon>keyboard_arrow_right</mat-icon>
					  </a>
					</mat-nav-list>
				</mat-list>
			</mat-card>
		</div>
	</div>
</div>