<h2 mat-dialog-title>Edit Event</h2>
<mat-dialog-content>
  <div>
    <form [formGroup]="frm">
      <div class="form-container">
        <mat-form-field>
          <input matInput type="text" placeholder="{{'TITLE' | translate}}" align="start" formControlName="title" />
          <mat-error *ngIf="(frm.controls.title.touched && !frm.controls.title.valid)">
            {{'INVALID_TITLE' | translate }}
          </mat-error>
        </mat-form-field>
        <mat-form-field floatLabel="always" appearance="none">
          <mat-label>{{'TIME' | translate}}</mat-label>
          <input matInput value="{{ frm.controls['time'].value | time: 'h:mm A' }}" />
          <mat-slider min="0" max="1435" step="5" value="480" (input)="timeChanged($event)"></mat-slider>
          <mat-error *ngIf="(frm.controls.time.touched && !frm.controls.time.valid)">
            {{'INVALID_TIME' | translate }}
          </mat-error>
        </mat-form-field>
      </div>
    </form>
  </div>
  <div>
    <h3>Tasks</h3>
    <div class="actions top">
      <mat-form-field>
        <mat-label>{{'TASK_TYPE' | translate}}</mat-label>
        <mat-select #taskType>
          <mat-option value="speak">{{'SPEAK_TASK' | translate}}</mat-option>
          <mat-option value="launchUrl">{{'LAUCH_URL_TASK' | translate}}</mat-option>
        </mat-select>
      </mat-form-field>
      <button type="button" mat-raised-button color="primary" title="{{ 'ADD_TASK' | translate }}"
        (click)="onAddTask(taskType.value)">
        <mat-icon>add</mat-icon>
      </button>
    </div>
    <div class="tasks">
      <mat-accordion>
        <mat-expansion-panel *ngFor="let task of event.tasks; trackBy: trackByUniqueId">
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{task.title}}
            </mat-panel-title>
          </mat-expansion-panel-header>
          <app-schedule-event-task-loader [task]="task"></app-schedule-event-task-loader>
          <button mat-button color="warn" class="remove" (click)="onRemoveTask(task)">{{'REMOVE' | translate }}</button>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button type="button" mat-raised-button color="warn" (click)="onRemove()"> {{'REMOVE' | translate }} </button>
  <button type="button" mat-raised-button color="primary" [disabled]="!frm.valid" (click)="onOkClick(frm.value, frm.valid)"> {{'OK' | translate}}</button>
  <button type="button" mat-button (click)="onCancelClick()">{{'CANCEL'|translate}}</button>
</mat-dialog-actions>